
//*****Variables******//

$logo-font: #ededed;
$pink: #ec1839;

// Body Light
$light-bg-color-d: #f2f2fc;
$light-bg-color-l: #fdf9ff;
$light-heading-color: #302e4d;
$light-text-color: #504e70;
$light-border-d: #d4d4e3;
$light-border-l: #e8dfec;


// Body Dark
$dark-bg-color-d: #151515;
$dark-bg-color-l: #222222;
$dark-heading-color: #ffffff;
$dark-text-color: #e9e9e9;
$dark-border: #393939;

